<div class="w-full flex items-center justify-end py-4">
  <div class="relative w-full max-w-5xl">
    <svg
      viewBox="0 0 500 171"
      class="w-full h-auto"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid meet"
      aria-hidden="true"
    >
      <defs>
        <!--
          Masque SVG : fond noir = caché, trait blanc qui grandit = révèle le remplissage.
          Le squelette suit le tracé réel de droite à gauche :
            - ligne ondulée droite (rapide)
            - grande boucle cœur droite (lent)
            - transition entre les deux cœurs
            - grande boucle cœur gauche (lent)
            - ligne ondulée gauche (rapide)
          stroke-width=82 couvre l'épaisseur max du tracé calligraphique (~65px).
        -->
        <mask id="heart-mask" maskUnits="userSpaceOnUse" x="-10" y="-55" width="520" height="285">
          <rect x="-10" y="-55" width="520" height="285" fill="black"/>
          <path
            id="skeleton-path"
            fill="none"
            stroke="white"
            stroke-width="82"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M 500 155
               C 478 157, 455 156, 432 155
               C 410 153, 390 157, 368 153
               C 356 152, 350 153, 346 153

               C 336 152, 321 151, 308 151
               C 316 130, 328 108, 336 90
               C 338 82, 338 78, 337 78
               C 330 60, 318 32, 302.75 5.625

               C 308 18, 312 30, 310 46
               C 305 68, 297 83, 296 95
               C 295 107, 295 110, 295 110
               C 294 121, 293 130, 293 136
               C 294 143, 296 148, 298 151

               C 298 120, 295 60, 283 5

               C 277 2, 255 0, 227 11
               C 220 20, 213 38, 212 58
               C 211 80, 214 105, 222 125
               C 232 138, 240 145, 248 150

               C 234 150, 215 149, 200 150
               C 180 149, 162 147, 145 143
               C 128 140, 108 152, 91 160
               C 74 156, 58 152, 42 150
               C 28 148, 12 143, 0 145"
          />
        </mask>

        <!-- Filtre halo pour la pointe du crayon -->
        <filter id="pen-glow" x="-100%" y="-100%" width="300%" height="300%">
          <feGaussianBlur stdDeviation="4" result="blur"/>
          <feMerge>
            <feMergeNode in="blur"/>
            <feMergeNode in="SourceGraphic"/>
          </feMerge>
        </filter>

        <!-- Texture encre sur papier : légère irrégularité des bords (~0.7px) -->
        <filter id="ink-texture" x="-2%" y="-2%" width="104%" height="104%">
          <feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3"
                        result="noise" seed="7"/>
          <feDisplacementMap in="SourceGraphic" in2="noise"
                             scale="0.7" xChannelSelector="R" yChannelSelector="G"/>
        </filter>
      </defs>

      <!-- Forme remplie révélée progressivement par le masque -->
      <g mask="url(#heart-mask)">
        <path
          fill="#A8BFA3"
          filter="url(#ink-texture)"
          transform="translate(302.75,5.625)"
          d="M0 0 C10.59858093 11.18739098 11.85231215 25.57642926 11.72241211 40.31835938 C11.21759796 57.82591926 6.11417861 74.50437465 -2.1875 89.875 C-4.28872756 93.97266949 -5.49685193 96.73900494 -4.44921875 101.28515625 C-4.21847656 101.97480469 -3.98773438 102.66445312 -3.75 103.375 C-3.26466797 104.82712891 -3.26466797 104.82712891 -2.76953125 106.30859375 C-1.81280467 109.0198947 -0.80668327 111.7013456 0.25 114.375 C0.518125 113.116875 0.78625 111.85875 1.0625 110.5625 C4.51289834 95.18513418 9.32916783 77.50697203 23.3125 68.375 C26.60541859 67.25400644 28.80291419 66.85044346 32.25 67.375 C34.55275556 69.2420991 35.92823871 70.73147741 37.25 73.375 C38.4408292 87.66495045 31.86291831 100.18732705 25.25 112.375 C24.93015137 112.973125 24.61030273 113.57125 24.28076172 114.1875 C19.96678564 122.21100299 15.10803191 129.71181492 9.8425293 137.13476562 C7.91495961 139.86380031 6.31314066 142.18557801 5.25 145.375 C6.64449109 145.858059 8.04066707 146.33625517 9.4375 146.8125 C10.21480469 147.07933594 10.99210937 147.34617188 11.79296875 147.62109375 C22.45141934 150.89149274 32.93243548 149.40019954 43.625 147.0625 C44.71409668 146.8346582 45.80319336 146.60681641 46.92529297 146.37207031 C50.03630815 145.718632 53.1435747 145.04987666 56.25 144.375 C57.74474575 144.05317209 59.23953085 143.73152681 60.734375 143.41015625 C62.95212644 142.93186436 65.16863976 142.44771943 67.3828125 141.953125 C84.31928059 138.53814233 98.73911618 140.14175409 115.16479492 145.35327148 C125.54088012 148.64426923 135.63684912 150.95952208 146.5625 150.125 C147.63431519 150.0487439 147.63431519 150.0487439 148.7277832 149.97094727 C153.49454544 149.60516137 158.20380702 148.98528459 162.9375 148.3125 C169.64706153 147.41251877 176.23212531 147.1880528 183 147.1875 C183.95350342 147.1867749 184.90700684 147.1860498 185.8894043 147.18530273 C189.85942099 147.21701726 193.41280578 147.27654563 197.25 148.375 C197.25 149.365 197.25 150.355 197.25 151.375 C196.03570312 151.34019531 194.82140625 151.30539063 193.5703125 151.26953125 C183.26331386 151.07357682 173.2921138 151.56586194 163.0625 152.875 C143.37672069 155.33356578 128.43415486 154.26901702 109.5625 148.25 C90.75413084 142.40415553 73.72398161 145.112811 55 149.375 C35.95121205 153.67368645 20.23162022 155.80218518 1.25 149.375 C0.4765625 150.19484375 -0.296875 151.0146875 -1.09375 151.859375 C-13.3156822 164.59866889 -13.3156822 164.59866889 -22.25 165.875 C-34.03269059 164.19175849 -40.9292595 155.29043492 -47.75 146.375 C-49.20019531 147.17164063 -49.20019531 147.17164063 -50.6796875 147.984375 C-66.23750098 156.46061805 -81.04844917 163.52866208 -99.08203125 158.43359375 C-108.56507165 155.08858649 -114.89567038 150.06950379 -122.13842773 143.26147461 C-132.41398367 133.41860263 -132.41398367 133.41860263 -145.75 129.6875 C-156.64885521 130.37817524 -163.92847004 136.89326011 -172.21606445 143.35205078 C-196.76736711 162.45262307 -196.76736711 162.45262307 -211.8828125 161.74609375 C-223.71728722 160.21438381 -232.95908823 154.73883861 -242.75 148.375 C-243.36584961 147.97522949 -243.98169922 147.57545898 -244.61621094 147.16357422 C-245.83652537 146.37059594 -247.0567418 145.57746682 -248.27685547 144.78417969 C-260.58935748 136.79132222 -271.64845692 130.17654986 -286.75 133.375 C-292.28336941 135.29091241 -297.53493577 137.72431723 -302.75 140.375 C-302.75 139.385 -302.75 138.395 -302.75 137.375 C-300.80859375 135.83984375 -300.80859375 135.83984375 -298.1875 134.3125 C-297.34058594 133.80589844 -296.49367188 133.29929688 -295.62109375 132.77734375 C-286.37861213 128.26298878 -275.10565015 127.56787083 -265.3125 130.8125 C-255.80506163 134.81860163 -246.83663158 140.28125019 -238.25146484 145.96630859 C-226.65031067 153.64111731 -216.99808567 158.07387186 -202.75 156.375 C-199.38976661 155.50553322 -196.70511459 154.17610999 -193.75 152.375 C-192.96109375 151.92382812 -192.1721875 151.47265625 -191.359375 151.0078125 C-185.31569751 147.3707491 -179.80350604 143.14043838 -174.25 138.8125 C-163.87416447 130.73655162 -154.44862363 123.96277076 -140.75 125.375 C-133.74633946 127.29033385 -128.91063947 131.46469006 -123.75 136.375 C-113.08081228 146.31674311 -103.27130643 155.02256182 -88.0625 154.8125 C-87.27721924 154.80420166 -86.49193848 154.79590332 -85.68286133 154.78735352 C-73.95344431 154.45120194 -62.30972278 150.22914086 -52.75 143.375 C-51.89679965 141.48185127 -51.89679965 141.48185127 -51.75 139.375 C-53.07419636 136.83594459 -54.45163839 134.52148182 -56 132.125 C-74.15206036 102.5429098 -93.06707262 61.08570126 -93.125 25.75 C-93.14949219 24.9559375 -93.17398438 24.161875 -93.19921875 23.34375 C-93.2320723 16.66352861 -91.38989092 11.50375961 -87.0625 6.375 C-83.21846454 4.7127144 -79.84310082 4.45792964 -75.75 5.375 C-65.14010003 11.38278365 -60.51974073 23.83330139 -57.37646484 34.95800781 C-54.53544688 45.91906697 -52.20150606 57.14160524 -50.75 68.375 C-50.59442627 67.70146484 -50.43885254 67.02792969 -50.27856445 66.33398438 C-37.6084784 11.76659726 -37.6084784 11.76659726 -19.75 -0.625 C-12.81489247 -4.5352202 -6.81256514 -4.02560668 0 0 Z M-27.4375 11.125 C-41.97992585 33.31786303 -45.68779758 60.53123185 -48.75 86.375 C-50.07 86.375 -51.39 86.375 -52.75 86.375 C-52.90557373 85.3233667 -53.06114746 84.2717334 -53.22143555 83.18823242 C-56.62212804 44.45591684 -56.62212804 44.45591684 -74.4375 11.5625 C-77.2304429 9.71810375 -78.58696967 8.86210667 -81.75 8.375 C-85.19618735 9.7198536 -86.55645983 11.07467905 -88.5625 14.1875 C-98.66122968 42.04606462 -73.54565507 87.52415468 -62.53588867 111.59155273 C-59.54298307 117.95065852 -56.27857258 124.13661667 -52.8125 130.25 C-52.35166016 131.07185791 -51.89082031 131.89371582 -51.41601562 132.74047852 C-50.98095703 133.48354248 -50.54589844 134.22660645 -50.09765625 134.9921875 C-49.71617432 135.64815918 -49.33469238 136.30413086 -48.94165039 136.97998047 C-48.54840576 137.44033691 -48.15516113 137.90069336 -47.75 138.375 C-42.24866927 138.375 -38.57798049 133.00607983 -34.75 129.375 C-34.03199219 128.72144531 -33.31398438 128.06789063 -32.57421875 127.39453125 C-31.95160156 126.81058594 -31.32898438 126.22664063 -30.6875 125.625 C-30.13964844 125.11453125 -29.59179688 124.6040625 -29.02734375 124.078125 C-27.32290039 121.80553386 -26.9635452 120.20552072 -26.75 117.375 C-27.44681991 114.60840817 -27.44681991 114.60840817 -28.625 111.875 C-32.10948899 103.20032812 -34.1063651 92.0576619 -30.375 83.125 C-28.75 80.375 -28.75 80.375 -26.75 78.375 C-22.79836774 77.74633123 -21.13634637 78.12548464 -17.75 80.3125 C-13.99591633 83.74877765 -11.39647958 88.06743217 -8.75 92.375 C-5.28722266 89.17746187 -3.76216475 85.63185092 -1.875 81.375 C-1.52493896 80.58625488 -1.17487793 79.79750977 -0.81420898 78.98486328 C7.81320976 58.82971923 11.91263366 35.69011885 5.25 14.375 C2.62837078 8.07768445 -0.49918567 3.50040717 -6.75 0.375 C-16.56993613 -1.23449161 -21.87549634 3.508779 -27.4375 11.125 Z M17.64453125 77.2890625 C6.67336436 92.80099512 4.91252549 111.02854224 3.25 129.375 C1.765 128.88 1.765 128.88 0.25 128.375 C-0.80908203 126.18188477 -0.80908203 126.18188477 -1.7578125 123.31640625 C-2.10457031 122.29095703 -2.45132812 121.26550781 -2.80859375 120.20898438 C-3.16050781 119.12939453 -3.51242187 118.04980469 -3.875 116.9375 C-4.58511233 114.81352602 -5.29601081 112.68981467 -6.0078125 110.56640625 C-6.3186377 109.61967041 -6.62946289 108.67293457 -6.94970703 107.69750977 C-7.68831329 105.38885082 -7.68831329 105.38885082 -8.75 103.375 C-9.41 103.375 -10.07 103.375 -10.75 103.375 C-11.94542478 105.05625012 -13.05712843 106.79748083 -14.125 108.5625 C-16.4536769 112.39404547 -18.8848876 115.92298132 -21.75 119.375 C-18.63362946 128.41410617 -10.31397446 137.98657714 -1.75 142.375 C0.98180287 142.12536736 2.00308707 141.65144129 3.84643555 139.58764648 C4.354729 138.81493408 4.86302246 138.04222168 5.38671875 137.24609375 C5.95962646 136.38395264 6.53253418 135.52181152 7.12280273 134.63354492 C8.02107788 133.23712769 8.02107788 133.23712769 8.9375 131.8125 C9.55890869 130.86028564 10.18031738 129.90807129 10.82055664 128.92700195 C27.00467399 104.84857895 27.00467399 104.84857895 34.25 77.375 C33.46604974 73.49382139 33.46604974 73.49382139 31.25 70.375 C25.34781352 69.33343768 21.21722219 73.02964994 17.64453125 77.2890625 Z M-25.75 80.375 C-30.22736896 85.19678195 -30.07408431 90.62223675 -30.05078125 96.9140625 C-29.52385471 102.9771393 -27.65628067 108.62211727 -25.75 114.375 C-24.43 114.375 -23.11 114.375 -21.75 114.375 C-19.8235933 112.3463506 -19.8235933 112.3463506 -18.1875 109.6875 C-17.60871094 108.81738281 -17.02992188 107.94726562 -16.43359375 107.05078125 C-15.87800781 106.16777344 -15.32242187 105.28476563 -14.75 104.375 C-14.18539063 103.49585937 -13.62078125 102.61671875 -13.0390625 101.7109375 C-11.54386676 99.42727567 -11.54386676 99.42727567 -11.6875 96.6875 C-13.69762494 90.42063989 -16.96734663 83.86276932 -22.75 80.375 C-23.74 80.375 -24.73 80.375 -25.75 80.375 Z M-25.75 124.375 C-27.34385707 126.01329546 -28.87529188 127.71260351 -30.375 129.4375 C-34.53028765 134.14586237 -38.88985237 138.39728141 -43.75 142.375 C-40.35303076 149.83176175 -33.14135211 157.67932395 -25.75 161.375 C-20.78847181 162.08378974 -17.92658097 160.76868378 -13.91796875 158.0859375 C-9.84902518 154.87477122 -6.29709209 151.14378534 -2.75 147.375 C-4.01171331 143.58986007 -5.58867907 142.76355359 -8.75 140.375 C-14.04756496 136.18253334 -17.90216501 131.83082587 -21.97265625 126.46484375 C-22.55917969 125.77519531 -23.14570313 125.08554688 -23.75 124.375 C-24.41 124.375 -25.07 124.375 -25.75 124.375 Z"
        />
      </g>

      <!-- Pointe du crayon : suit l'extrémité du tracé en cours -->
      <circle
        id="pen-tip"
        r="10"
        fill="rgba(250,248,245,0.7)"
        filter="url(#pen-glow)"
        cx="498"
        cy="147"
        style="display:none; pointer-events:none;"
      />
    </svg>
  </div>
</div>

<script>
  (function () {
    const skeleton = document.getElementById('skeleton-path') as SVGPathElement | null;
    const penTip   = document.getElementById('pen-tip')      as SVGCircleElement | null;

    if (!skeleton) return;
    const sk = skeleton; /* capturé après le guard pour les callbacks rAF */

    if (window.matchMedia('(prefers-reduced-motion: reduce)').matches) return;

    const totalLength = sk.getTotalLength();
    sk.style.strokeDasharray  = String(totalLength);
    sk.style.strokeDashoffset = String(totalLength);
    if (penTip) penTip.style.display = '';

    /*
      Tableau pts[] : [fraction-chemin, fraction-temps]
      Vitesse uniforme sur tout le tracé (ratio chemin/temps ≈ constant).
      Seule la pause entre les deux cœurs introduit un arrêt, avec easing
      ease-in-out par segment pour une décélération/accélération naturelle.
    */
    const pts = [
      [0,    0   ],
      [1.00, 1.00],
    ] as [number, number][];

    /* Easing cubique ease-in-out pour un geste naturel par segment */
    function easeInOut(x: number): number {
      return x < 0.5 ? 2 * x * x : 1 - Math.pow(-2 * x + 2, 2) / 2;
    }

    function pathFracAt(t: number): number {
      for (let i = 0; i < pts.length - 1; i++) {
        const [p0, t0] = pts[i];
        const [p1, t1] = pts[i + 1];
        if (t <= t1) {
          const raw   = (t - t0) / (t1 - t0);
          const ratio = (p0 === p1) ? raw : easeInOut(raw); /* pas d'easing sur les pauses */
          return p0 + ratio * (p1 - p0);
        }
      }
      return 1;
    }

    /*
      Bruit pseudo-aléatoire déterministe : somme de sinusoïdes déphasées.
      Amplitude ~1.5px → tremblement organique subtil sur la pointe du crayon.
      N'affecte PAS le masque (uniquement les attributs visuels du pen-tip).
    */
    function noise(t: number, seed: number): number {
      return (
        Math.sin(t * 23.4 + seed * 7.1)  * 0.75 +
        Math.sin(t * 11.7 + seed * 13.3) * 0.45 +
        Math.sin(t * 47.1 + seed * 3.7)  * 0.30
      ); /* amplitude totale ≈ ±1.5px */
    }

    const DURATION = 3000; /* ms */
    const start    = performance.now();

    function frame(now: number) {
      const t     = Math.min((now - start) / DURATION, 1);
      const pFrac = pathFracAt(t);
      const drawn = pFrac * totalLength;

      /* Masque : révélation progressive */
      sk.style.strokeDashoffset = String(totalLength - drawn);

      /* Pointe du crayon : suit l'extrémité du tracé + tremblement organique */
      if (penTip) {
        if (t < 0.99) {
          const pt = sk.getPointAtLength(Math.max(drawn - 1, 0));
          const nx = noise(t * 6, 1);
          const ny = noise(t * 6, 2);
          penTip.setAttribute('cx', String(pt.x + nx));
          penTip.setAttribute('cy', String(pt.y + ny));
          const fade = t > 0.96 ? (0.99 - t) / 0.03 : 1;
          penTip.style.opacity = String(0.85 * fade);
        } else {
          penTip.style.display = 'none';
        }
      }

      if (t < 1) requestAnimationFrame(frame);
    }

    requestAnimationFrame(frame);
  })();
</script>
